# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Uploads & Outputs
uploads/
outputs/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db